h1 {
  color: var(--color-primary);
}

section {
  padding-block: var(--space-xl-2xl);
}

ul {
  --flow-space: var(--space-xl-2xl);
}

li {
  display: block;
}

img {
  border-radius: var(--radius-2);
  margin-inline: auto;
}
