/* 
FLOW COMPOSITION 
Like the Every Layout stack: https://every-layout.dev/layouts/stack/
Info about this implementation: https://piccalil.li/quick-tip/flow-utility/ 
*/
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.flow-3xs {
  --flow-space: var(--space-3xs);
}

.flow-2xs {
  --flow-space: var(--space-2xs);
}

.flow-xs {
  --flow-space: var(--space-xs);
}

.flow-s {
  --flow-space: var(--space-s);
}

.flow-m {
  --flow-space: var(--space-m);
}

.flow-l {
  --flow-space: var(--space-l);
}

.flow-xl {
  --flow-space: var(--space-xl);
}

.flow-2xl {
  --flow-space: var(--space-2xl);
}
